<nb-layout>
  <nb-layout-column>
    <nb-card>
      <nb-card-body>
        <nb-stepper #stepper #walletConnectStepper>
          <nb-step [label]="'Step 1'">
            <h4>Connect Your Wallet</h4>
            <p class="nb-paragraph">
              In order to sign up and create an account on this platform, it is
              necessary to connect a wallet. A wallet is a digital tool that
              allows you to securely store, send, and receive cryptocurrencies.
              By connecting your wallet to our platform, you will be able to
              easily manage your digital assets and participate in various
              activities and transactions within our ecosystem.
            </p>
            <button nbButton (click)="connectMetaMask(walletConnectStepper)">
              Connect Wallet
            </button>
          </nb-step>
          <nb-step [label]="'Step 2'">
            <h4>Step 2</h4>
            <p>Fill out the form</p>
            <form>
              <div class="form-group">
                <label for="firstName">First Name:</label>
                <input
                  nbInput
                  id="firstName"
                  type="text"
                  class="form-control"
                  placeholder="Enter your first name"
                />
              </div>
              <div class="form-group">
                <label for="lastName">Last Name:</label>
                <input
                  nbInput
                  id="lastName"
                  type="text"
                  class="form-control"
                  placeholder="Enter your last name"
                />
              </div>
              <div class="form-group">
                <label for="email">Email Address:</label>
                <input
                  nbInput
                  id="email"
                  type="email"
                  class="form-control"
                  placeholder="Enter your email address"
                />
              </div>
              <div class="form-group">
                <label for="password">Password:</label>
                <input
                  nbInput
                  id="password"
                  type="password"
                  class="form-control"
                  placeholder="Enter your password"
                />
              </div>
              <div class="form-group">
                <label for="confirmPassword">Confirm Password:</label>
                <input
                  nbInput
                  id="confirmPassword"
                  type="password"
                  class="form-control"
                  placeholder="Confirm your password"
                />
              </div>
            </form>
            <button nbButton (click)="stepper.previous()">Previous</button>
            <button nbButton (click)="stepper.next()">Next</button>
          </nb-step>
          <nb-step [label]="'Step 3'">
            <h4>Step 3</h4>
            <p>Confirmation</p>
            <button nbButton (click)="stepper.previous()">Previous</button>
            <!-- <button nbButton (click)="submitForm()">Submit</button> -->
          </nb-step>
        </nb-stepper>
      </nb-card-body>
    </nb-card>
  </nb-layout-column>

  <nb-layout-footer fixed>Footer</nb-layout-footer>
</nb-layout>
